<div class="tth">
    <div class="modal">
        <h3 class="titleTth tech" id="marka">Марка</h3>
        <div class="formTth "> <input class="formValue techInput" id="input"> <button
                class="buh">&#8595</button></div>
    </div>
    <div class="modal">
        <h3 class="titleTth tech" id="modelT">Модель</h3>
        <div class="formTth "><input class="formValue techInput"></div>
    </div>
    <div class="modal">
        <h3 class="titleTth tech" id="psi">Рабочее давление в PSI</h3>
        <div class="formTth  psi">
            <input class="techInput formValue jobDav validation" type="number" placeholder="130">
            <p class="techText titleTth barD" id="bar">BAR</p>
            <p class="techInput bar job"></p>
        </div>
    </div>
    <div class="modal hiddenPos">
        <h3 class="titleTth tech" id="changeBar">min и max отклонение в BAR</h3>
        <div class="formTth formValue"></div>
    </div>
    <div class="modal">
        <h3 class="titleTth tech" id="probegNow">Текущий пробег колеса</h3>
        <div class="formTth"><input class="techInput formValue probeg"></div>
    </div>
    <div class="modal">
        <h3 class="titleTth tech" id="montaj">Дата монтажа</h3>
        <div class="formTth"> <input class="formValue dateChangeTires" type="date"></div>
    </div>
    <div class="modal">
        <h3 class="titleTth tech" id="probegPass">Пробег по паспорту</h3>
        <div class="formTth"><input class="formValue techInput probeg"></div>
    </div>
    <div class="modal">
        <h3 class="titleTth" id="probegVal">Остаточный пробег колеса в км</h3>
        <div class="formTth">
            <p class="techInput probeg job"></p>
        </div>
    </div>
    <div class="modal">
        <h3 class="titleTths techs">Оставшаяся глубина протектора мм. (замеры)</h3>
        <div class=" params ">
            <h4 class=" tech" id="N1"></h4><input class="techInput formValue" step="0.1" type="number"
                lang="en" placeholder="№1">
            <h4 class=" tech" id="N2"></h4><input class="techInput formValue" step="0.1" type="number"
                lang="en" placeholder="№2">
            <h4 class=" tech" id="N3"></h4><input class="techInput formValue" step="0.1" type="number"
                lang="en" placeholder="№3">
            <h4 class="tech" id="N4"></h4><input class="techInput formValue" step="0.1" type="number"
                lang="en" placeholder="№4">
        </div>
    </div>
    <div class="modal">
        <h3 class="titleTth tech" id="protectorDate">Дата замера протектора</h3>
        <div class="formTth"><input class="formValue dateChangeTires" type="date"></div>
    </div>
</div>