<div class="tth">
    <div class="modal">
        <h3 class="titleTth tech" id="marka">Марка</h3>
        <div class="formTth "> <input class="formValue techInput" id="input"> <button
                class="buh">&#8595</button></div>
    </div>
    <div class="modal">
        <h3 class="titleTth tech" id="modelT">Модель</h3>
        <div class="formTth "><input class="formValue techInput"></div>
    </div>
    <div class="modal">
        <h3 class="titleTth tech" id="psi">Рабочее давление в PSI</h3>
        <div class="formTth  psi">
            <input class="techInput formValue jobDav validation" type="number" placeholder="130">
            <p class="techText titleTth barD" id="bar">BAR</p>
            <p class="techInput bar job"></p>
        </div>
    </div>
    <div class="modal hiddenPos">
        <h3 class="titleTth tech" id="changeBar">min и max отклонение в BAR</h3>
        <div class="formTth formValue"></div>
    </div>
  
    <div class="modal">
        <h3 class="titleTth tech" id="montaj">Дата монтажа</h3>
        <div class="formTth"> <input class="formValue dateChangeTires" type="date"></div>
    </div>
    <div class="modal">
        <h3 class="titleTth tech" id="probegPass">Пробег по паспорту</h3>
        <div class="formTth"><input class="formValue techInput probeg"></div>
    </div>
  
    
    <div class="modal">
        <h3 class="titleTth tech" id="protectorDate">Дата замера протектора</h3>
        <div class="formTth"><input class="formValue dateChangeTires" type="date"></div>
    </div>
</div>