<div class="container_flash">
    <div class="well">
        <p class="log"><%=role%> :</p>
        <p class="log"><%=user%></p>
    </div>
    <div class="page-header text-center">
        <a href="/logout" class="logout">Выход</a>
    </div>
</div>