<div class="radioModule">
    <p>Сторона колеса</p>
    <p><input class="radio" name="radio" type="radio" id='1' value="left" checked> Левое</p>
    <p><input class="radio" name="radio" type="radio" id="rigth" value="rigth"> Правое</p>
</div>